<div class="jumbotron">
  <h1>Admin Dashboard</h1>
  <ul class="list-group">
    <li class="list-group-item">Product count: <%= @product_count %></li>
    <li class="list-group-item">Category count: <%= @category_count %></li>
    <li class="list-group-item"><%= link_to 'Products',  [:admin, :products] %></li>
  </ul>
</div>
