<div class="jumbotron">
  <h1>Admin Dashboard</h1>
  <ul class="list-group">
    <li class="list-group-item">Product count: <%= @product_count %></li>
    <li class="list-group-item">Category count: <%= @category_count %></li>
  </ul>
    <div class="well">
      <%= link_to 'Products',  [:admin, :products], class: 'btn btn-info' %>
      <%= link_to '+ New Product', [:new, :admin, :product], class: 'btn btn-info' %>
    </div>
</div>
